@import "reset.css";
@import "grid.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.header_search_box {
  margin-right: 85px;
  display: flex;
  align-items: center;
  width: 440px;
  height: 55px;
  border: 2px solid blue;
  border-radius: 100px;
  text-align: center;
  padding-left: 20px;
}

.header_search_box input {
  width: 330px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.header_status_btn_top_box {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.header_status_btn_top {
  font-size: 13px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.header_status_btn_card_box {
  display: flex;
}

.header_status_btn_card {
  margin-right: 35px;
}

.header_status_btn_icon {
  margin-bottom: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
/*header/>*/

nav {
  height: 85px;
  background: #e9f2f7;
}

.nav_btn_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85px;
}

.nav_btn {
  position: relative;
}

.sub_nav_btn_box .sub_nav_btn:hover {
  background-color: #ddd;
}

.sub_nav_btn_box {
  padding: 20px;
  position: absolute;
  width: 120px;
  top: 20px;
  left: 5px;
  display: none;
  background: lightblue;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.sub_nav_btn {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.nav_btn_box a {
  text-decoration: none;
  color: black;
}

/*nav/>*/

.main_banner_container {
  width: 1920px;
  display: flex;
  align-items: center;
  height: 600px;
  background: #67daaf;
}

.main_banner_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_banner_text_hash {
  color: orangered;
}

.main_banner_text_hash,
.main_banner_text_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}

.main_banner_text_content {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: medium;
  color: #3e3e3e;
}

.main_banner_text_content:last-child {
  font-weight: bold;
  color: black;
}

.main_banner_img_box {
  width: 542px;
  height: 373px;
  overflow: hidden;
  margin-left: 100px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.47);
  position: relative;
}

.main_banner_in {
  width: 2168px;
  height: 373px;
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.main_banner_btn_box {
  margin-top: 25px;
}

.main_banner_loading_box {
  width: 60px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
}

.main_banner_loading {
  background: rgba(0, 0, 0, 0.2);
  width: 13px;
  height: 13px;
  border-radius: 100px;
}
.main_banner_loading_btn_box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90px;
  margin-bottom: 45px;
}

.main_banner_loading_btn_box button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-style: none;
}

.main_content_title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main_content_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main_content_img {
  margin-bottom: 5px;
}

.main_content_text_hash {
  margin-bottom: 10px;
}

.main_content_text_title,
.main_content_text_price {
  margin-top: 5px;
  font-size: 22px;
}
.main_content_text_hash,
.main_content_text_title,
.main_content_text_price {
  font-weight: 700;
}

.main_section_banner_container {
  background: #d4f2f7;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main_section_banner_box {
  display: flex;
  align-items: center;
}

.main_section_banner_img {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.35);
}

.main_section_banner_img img {
  width: 600px;
  height: 500px;
}

.main_section_banner_guide {
  margin-left: 90px;
}

.main_section_banner_title {
  font-size: 25px;
  font-weight: 500;
}

.main_section_banner_nav_box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.main_section_banner_nav_btn {
  font-size: 20px;
  padding: 15px;
}

.main_section_banner_search {
  display: flex;
  width: 270px;
  height: 45px;
  background: #fff;
}

.main_section_banner_search input {
  border: none;
  width: 270px;
}

.main_section_banner_trip {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.main_section_banner_trip_btn {
  width: 130px;
  height: 45px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main_section_banner_trip_btn_sub_box {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 30px;
  background: white;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.main_section_banner_trip_btn:nth-child(2)
  .main_section_banner_trip_btn_sub_box {
  width: 140px;
}

.main_section_banner_trip_btn_sub {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.main_section_banner_trip_btn_sub:hover {
  background-color: lightblue;
}

.main_section_banner_trip_btn_sub:last-child {
  margin-bottom: 15px;
}

.main_section_banner_people {
  display: flex;
  justify-content: space-between;
}

.main_section_banner_people_btn {
  width: 130px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_section_banner_people_btn i {
  margin-right: 10px;
  font-size: 20px;
}

.main_section_banner_btn_box {
  width: 270px;
  height: 50px;
  background: #9decf9;
  border-radius: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}

.main_section_banner_btn {
  font-size: 20px;
  font-weight: 600;
  border-style: none;
  background: none;
  cursor: pointer;
}

.main_section_content_box {
  display: flex;
  justify-content: space-around;
}

.main_section_content_title {
  font-size: 25px;
  margin-bottom: 100px;
}

.main_section_content_img {
  width: 150px;
  height: 150px;
  border-radius: 500px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main_section_content_img img {
  width: 150px;
  height: 150px;
}

.main_section_content_card_box {
  display: flex;
  justify-content: space-between;
}

.main_section_content_card {
  width: 20%;
}

.main_section_content_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section_content_text_title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main_section_content_text {
  text-align: center;
  opacity: 0.8;
}

footer {
  height: 150px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 150px;
}
